@charset "utf-8";
body{
  background-image: url(img03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.movie {
  padding: 90px 0 60px;
  color: #5a5c5f;
}
.iframe{
    padding-bottom: 56.25%;
    width: 33%;
    margin-top: 35px;
}
.movie-card {
  width: 33%;
  margin-top: 35px;
}
.movie-card-inner {
  padding: 25px 30px;
  background-color: #dbe0e4;
  border-radius: 7px;
  box-shadow: 1px 1px 4px #d2d4d6;
  text-align: center;
  margin: 0 20px;
}
.movie-image {
  width: 100px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.movie-title {
  margin-bottom: 8px;
}
.movie-text {
  font-size: 14px;
}
.movie-card-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.container {
  max-width: 1580px;
  padding: 0 30px;
  margin-left: auto;
  margin-right: auto;
}
